.download {
  text-align: center;
  position: relative;
  margin-top: 50px;
  width: 100%;
}
.download .name {
  font-size: 4em;
  font-weight: 200;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.download .logo {
  margin-top: 50px;
  margin-bottom: 50px;
}
.download .download-button {
  margin-top: 50px;
  padding: 1em 2em;
  text-decoration: none;
  color: white;
  font-weight: 400;
  letter-spacing: 0.02em;
  background-color: #8b39b4;
  max-width: 240px;
}
.download .download-button:hover {
  background-color: #7c33a0;
  box-shadow: "0 0 0 0.2rem rgba(0,123,255,.5)";
}
.download .download-description {
  font-size: 30px;
  font-weight: 300;
}
.download-in {
  animation: in 600ms;
  animation-fill-mode: forwards;
}
.download-out {
  animation: out 600ms;
  animation-fill-mode: forwards;
}
